#idTableNASummary-rows-row0{
	background-color: #b8e0e1;
		color : black;
	font-weight: bold !important;
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color: blue;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}
		
.totalColor{
	background-color: #b8e0e1;
}

.totalColor: hover{
	background-color: #b8e0e1;
}

#idTableNAPSummary-rows-row0{
	background-color: #b8e0e1;
		color : black;
	font-weight: bold !important;
}

#idTableTRDSummary-rows-row0{
	background-color: #b8e0e1;
		color : black;
	font-weight: bold !important;
}

#idTableTBDSummary-rows-row0{
	background-color: #b8e0e1;
		color : black;
	font-weight: bold !important;
}

#idTableTBCSummary-rows-row0{
	background-color: #b8e0e1;
		color : black;
	font-weight: bold !important;
}

#idTableTRCSummary-rows-row0{
	background-color: #b8e0e1;
		color : black;
	font-weight: bold !important;
}

#idNapFilter{
	color: red;
}

#idLFilter{
	color: red;
}

#idBackNap #idBackutc{
	font:13px arial,sans-serif ;
}

.boldText{
	color : black;
	font-weight: bold !important;
}

.boldText : hover{
	color : black;
	font-weight: bold !important;
}

.locationCombo{
	background-color: rgba(255, 0, 0, 0.83);
}

.unitCombo{
	background-color: rgba(56, 43, 251, 0.83);
}

.toolbarSep {
    width: 0.4rem;
    background: #000000;
    height: 3rem;
}

